

.question {

  //display: flex;
  //flex-direction: row;
  color: #555;

  padding: 1rem;

  .calculation {
    //flex: 1;
    display: inline-block;
  }

  .number{
    display: inline-block;
    padding: 0 .5rem;
    font-weight: bold;
  }
}




.answer {
  //flex: 2;
  display: inline-block;
  margin: 0 .5rem;

  input {
    padding: .5rem 1rem;
    width: 6rem;
    border: 1px solid #aaa;
  }
}


.correct {
  background: palegreen;
  //color: green;
  //border: 1px solid green;
}
.incorrect {
  background: lightpink;
  //color: tomato;
  //border: 1px solid tomato;
}

.has-focus {
  background: #eee;
  color: #000;

}