
.Question {
    color: #555;
    padding: 1rem;
    text-align: center;
}

.Question .calculation {
    display: inline-block;
}

.Question .number {
    display: inline-block;
    padding: 0 .5rem;
    font-weight: bold;
}

.Question .symbol {
    display: inline-block;
    padding: 0 .5rem;
}

.answer {
    display: inline-block;
    margin: 0 .5rem;
}

.answer input {
    padding: .5rem 1rem;
    width: 6rem;
    border: 1px solid #aaa;
}

.correct {
    background: palegreen;
}

.incorrect {
    background: lightpink;
}

.has-focus {
    background: #eee;
    color: #000;

}